.lang-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.6em;
}

.lang-item {
    padding: 3px;
    text-decoration: none;
    color: orange;
}

.lang-item:hover {
    text-shadow: 0px 0px 3px #333;
    border-bottom: 1px solid #00ffa5;
}