.sidebar {
    background-color: black;
    padding: 50px 0px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 40%;
    border-top-right-radius: 8px;
    border-top: 1px solid orange;
    border-right: 1px solid orange;
    border-left: 1px solid orange;
}

.side-item {
    font-size: 1.2em;
    color: orange;
    text-decoration: none;
    padding: 3px 0;
    width:100%;
    text-align: center;
}

.side-item:hover {
    color: #00ffa5;
    border-right: 4px solid #00ffa5;
    border-left: 4px solid #00ffa5;
}

.side-item:active {
    color: aqua;
    border-right: 2px solid aqua;
}

