.temp {
    width: 80%;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 1em;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card-title.temp {
    font-size: 3em;
    color: orange;
    text-shadow: 0 0 15px #000;
    font-weight: normal;
    margin:0.7em;
}

.image {
    width: 30%
}

.content {
    width: 65%
}

.content .card-title,
.content .card-text {
    font-size:1.5em;
    color: #00ffa5;
    text-decoration: none;
    text-shadow: 0 0 15px #000;
    font-weight: normal;
}

.content .card-text span {
    color: orange;
}

.overview {
    padding: 30px;
}

.overview .card-text span {
    color: orange;
}

.card-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 97%;
    background-color: #553700;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 0 4px #000;
    margin-bottom: 1em;
}

.foot-link {
    padding: 0.7em;
    text-decoration: none;
    color: orange;
}

.foot-link:hover {
    color: #00ffa5;
    text-shadow: 0px 0px 5px #000;
    border-bottom: 1px solid #00ffa5;
}