.App-header {
    border-bottom: 1px solid orange;
}

.header-menu {
    /* display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: start; */
}

.header-menu:first-child {
    padding-left: 5%;
}

.nav-item {
    padding: 40px 15px 35px 15px;
    color: orange;
    font-weight: 600;
    text-decoration: none;
    weight:100%;
}

.nav-item:hover {
    border-radius: 15px;
    border-bottom: 4px solid #00ffa5;
    text-shadow: 2px 2px 5px #999;
    box-shadow: inset 0px 0px 5px #999;
}

.header-side {
    min-width: 30%;
}

.header-side hr{
    margin: 5px 0 5px 0;
    background-color: orange;
}

hr {
    border-color: #00ffa5;
}