/*
div {
    width: 150px;
    margin: 0 auto;
  }
  
  p {
    padding: 10px 5px;
    border: 3px solid black;
    border-radius: 20px;
    width: 150px;
    font-size: 1.2rem;
    text-align: center;
  }
  
  .translate {
    transition: translate 1s;
  }
  
  div:hover .translate {
    translate: 200px 50px;
  }
  */

  .loader {
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  .loader-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid orange;
    border-bottom: 3px dotted orange;
    background-color: #444;


    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color color transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
  }

  .action {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid orange;
    border-bottom: 3px dotted orange;
    background-color: #222;
    color: orange;
    transform: rotate(360deg);
    display: flex;
    justify-content: center;
    align-items: center;

    transition-property: background-color color transform;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}

  .loader-text {
    
  }

  .loader-text:after {
    
}