.paginator {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 8px 0px;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    border-radius: 3px;
    margin: 13px 0;
}

.pag-link,
.pag-no-link {
    padding:5px;
    background-color: black;
    color: orange;
    border: none;
    border-radius: 8px;
    font-size: 0.8em;
}

.pag-link:hover {
    background-color: orange;
    color: black;
    box-shadow: inset 0px 0px 2px black;
    border-radius: 8px;
}