.genre-title {
    text-align: center;
    padding:15px;
    color: orange;
    background-color: black;
    border-top: 1px solid orange;
    border-bottom: 1px solid orange;
    margin: 8px 0 8px 0;
}

.genre-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.catlog-container {
    width: 75%;
}

.sidebar {
    width: 20%;
}