.search-form {
  --searchButtonWidth: 75px;

  max-width: 320px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.search-input {
  border: 0;
  margin: 0;
  padding: 0.5rem calc(var(--searchButtonWidth) + 00.5rem) 0.5rem 0.5rem;
  border-radius: 8px;
  width: 100%;
  -webkit-appearance: none;
  font-size: 13px;
  background: #333;
  color: white;
}

.search-input:focus {
  outline: 0;
  background: #000;
  color: orange;
}

.search-input:not(:placeholder-shown) ~ .search-button {
  transform: translateX(calc(-1 * var(--searchButtonWidth)));
}

.search-button {
  border: 0;
  padding: 0.5rem;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 100%;
  width: var(--searchButtonWidth);
  transition: 0.2s;
  background: #000;
  color: orange;
  font-size: 13px;
  height: 100%;
}

.search-button:focus {
  outline: 0;
  background: #222;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}