.card {
    margin:5%;
    background-color: #111;
    border-radius: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    border: dotted 3px #d48900;
    box-shadow: 0 0 40px #000, 
                0 0 30px #000, 
                0 0 24px #000, 
                0 0 12px #000, 
                0 0 8px #000, 
                0 0 4px #000;
    
}

.card-header {
    width: 90%;
    background-color: #553700;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 11em;
    box-shadow: inset 0 0 40px #000, 
                inset 0 0 30px #000, 
                inset 0 0 24px #000, 
                inset 0 0 12px #000, 
                inset 0 0 8px #000, 
                inset 0 0 4px #000;
}

.card-title {
    color: orange;
    margin: 1.5em;
    text-align:center;
    text-decoration: none;
}

.card-header .card-title {
    font-size:1.5em;
    color: #00ffa5;
    text-decoration: none;
    text-shadow: 0 0 15px #000;
    font-weight: normal;
}

.card-img-top {
    width:95%;
}

.card-body {
}



.card-text {
    color: #00ffa5;
    margin:0;
    text-decoration: none;
}